# ------------------------------------------------------------------
# General
# ------------------------------------------------------------------
SERVICE_HOST=0.0.0.0
SERVICE_PORT=3040
NODE_ENV=development
DB_DEBUG=false
SECRET=superSecret

# ------------------------------------------------------------------
# DB Development
# ------------------------------------------------------------------

 DB_USERNAME=admincbaremote
 DB_PASSWORD=Remote2023!
 DB_HOST=108.136.76.147
 DB_PORT=3306
 DB_DIALECT=mysql
 DB_NAME=db_kadin
 DB_SCHEMA=public

AWS_ACCESS_KEY=AKIAZ4O57M5SUXYCF42A
AWS_SECRET_KEY=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
AWS_BUCKET_NAME=cbadigitechno-bucket
AWS_BUCKET_REGION=ap-southeast-3

CLIENT_URL=http://159.223.90.171:8080

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=dev.cbadigitechno@gmail.com
MAIL_PASSWORD=tfbukgbywhxqapts

# ------------------------------------------------------------------
# Sendgrid
# ------------------------------------------------------------------
SENDGRID_API_USER=notifmdmc@gmail.com